<div class=" container">
    <form class="add-product" #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a href="#"><i class="fas fa-plus-square"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url(assets/img/img.png)"></div>
                <div class="slider__item" style="background-image: url(assets/img/img.png)"></div>
                <div class="slider__item" style="background-image: url(assets/img/img.png)"></div>
            </div>
            <div class="slider__indicators">
                <span class="slider__indicator active"></span>
                <span class="slider__indicator"></span>
                <span class="slider__indicator"></span>
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <section class="tabs">
                    <div class="tabs__headers">
                        <div class="tabs__header active">
                            English
                        </div>
                        <div class="tabs__header">
                            Arabic
                        </div>
                    </div>
                    <div class="tabs__bodies">
                        <div class="tabs__body active">
                            <div class="form-group " [ngClass]='{"invalid":name.invalid && name.touched}'>
                                <label for="">Name</label>
                                <input class="form-control" minlength="7" type="text" [(ngModel)]='product.BasicData.name' [value]='product.BasicData.name' [(ngModel)]='product.BasicData.name' #name="ngModel"  name="name" id="" required>
                                <span *ngIf="name.invalid && name.touched && name.errors?.required">this field is required</span>
                                <span *ngIf="name.invalid && name.touched && name.errors?.minlength"> you entered {{name.errors?.minlength.actualLength}} characters, you must enter {{name.errors?.minlength.requiredLength}} characters</span>
                            </div>
                            <div class="form-group"[ngClass]='{"invalid":desc.invalid && desc.touched}' >
                                <label for="">Description</label>
                                <textarea class="form-control" name="desc" [(ngModel)]='product.BasicData.desc' #desc="ngModel" id="" cols="30" rows="4" minlength="10" required></textarea>
                                <span *ngIf="desc.invalid && desc.touched && desc.errors?.required">this field is required</span>
                                <span *ngIf="desc.invalid && desc.touched && desc.errors?.minlength"> you entered {{desc.errors?.minlength.actualLength}} characters, you must enter {{desc.errors?.minlength.requiredLength}} characters</span>
                            </div>
                        </div>
                        
                    </div>
                </section>
                <div class="form-group">
                    <label for="">Price</label>
                    <input class="form-control" type="number" name="price" [(ngModel)]='product.price' id="">
                </div>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Satus</label>
                        <div class="form-group__radios">
                            <div class="form-group__radio"><input type="radio" ngModel #radioStatus="ngModel" [value]="true" name="radio" id=""><span>On Sale</span></div>
                            <div class="form-group__radio"><input type="radio"ngModel #radioStatus="ngModel"  [value]="false" name="radio" id=""><span>Not On Sale</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Discount</label>
                        <input [disabled]="!radioStatus.value" class="form-control" type="number" name="discount" [(ngModel)]='product.discount' id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Payment Types</label>
                    <div class="form-group__checkboxs">
                        <div class="form-group__checkbox" *ngFor="let method of paymentWays,let i=index" >
                            <input type="checkbox" [name]="'check_'+i"  ngModel id=""><span>{{method.name}}</span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select class="form-control" name="category"  id='category.id' ngModel>
                        <option [value]="Category.id" *ngFor="let Category of categoryList">{{Category.categoryName}}</option>
             
                    </select>
                </div>

                <div class="taged-textbox form-group">
                    <label class="taged-textbox__lable" for="">Tags</label>
                    <div class="taged-textbox__data">
                        <div class="taged-textbox__tags">
                            <div class="taged-textbox__tag" *ngFor="let filter of product.tags" ><span>{{filter.filterName}}</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                        </div>
                        <div class="taged-textbox__clear">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <input class="taged-textbox__textbox form-control" type="text" name="tag" ngModel id="" #tagInput  (change)=onTagChanged(tagInput)>
                </div>
                <div class="add-product__actions">
                    <button href="#" class="btn btn--gray">Cancel</button>
                    <button class="btn btn--primary">{{isEditMood?'Edit':'Add'}}</button>
                </div>
            </div>
        </div>
    </form>
</div>